<nav class="flex flex-col justify-center items-center p-4 bg-transparent text-white text-3xl font-bold">  
    <ul class="flex flex-row justify-center items-center space-x-4">
        <li><a href="/">Sobre mí</a></li>
        <li><a href="/about">Proyectos</a></li>
        <li><a href="/blog">Contacto</a></li>
    </ul>
</nav>