<main class="flex flex-col justify-center items-center p-4 bg-transparent text-white text-3xl font-bold">
    <section class="p-0 my-auto flex flex-row flex-wrap justify-center text-white font-bold">
        <h2>Sobre mí</h2>
    </section>
    <section class="p-0 my-auto flex flex-row flex-wrap justify-center text-white font-bold">
        <h2>Proyectos</h2>
    </section>
    <section class="p-0 my-auto flex flex-row flex-wrap justify-center text-white font-bold">
        <h2>Contactame</h2>
    </section>
</main>