---
import astroLogo from '../assets/astro.svg';
import Header from './Header.astro';
import AboutMe from './AboutMe.astro';
import Projects from './Projects.astro';
import Form from './Form.astro';
import Footer from './Footer.astro';
---

<div class="bg-background bg-cover bg-center overflow-x-hidden bg-no-repeat max-w-screen min-h-screen grid grid-rows-[auto_auto_auto_auto_auto]">
	<Header />
	<AboutMe />
	<Projects />
	<Form />
	<Footer />
</div>

