<!doctype html>
<html lang="es-cl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="src/assets/iconPortfolio.svg"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Cristian Salazar</title>
	</head>
	<body class="m-0 p-0 max-w-screen h-screen min-w-[450px]">
		<slot />
	</body>
</html>
